$primary-dark: #000033;
$primary: #6045E3;
$primary-light: #A5A5FF;
$primary-extralight: #F6F3FF;
$primary-extralighter: #FBF9FF;
$secondary: #28289B;

$success: #44823F;
$error: #D6453D;
$warning: #EDA200;
$icon: #4B4BFF;
$button: #623BEA;

$white: #FFFFFF;
$gray-1: #FAF9FB;
$gray-2: #F1EFF3;
$gray-3: #D0CCD4;
$gray-4: #BDB7C2;
$gray-5: #99969C;
$gray-6: #716F72;
$gray-7: #616062;
$black: #171B2A;

$main-background: linear-gradient(180deg, #F5F2FF 0%, #FFFFFF 53.14%, #FFFFFF 100%);

$sm-desktop: 1280px;
$lg-tablet-max-width: 1024px;
$lg-tablet-min-width: 1025px;
$md-tablet: 768px;
$lg-mobile: 580px;
$md-mobile: 480px;
