@font-face {
  src: url(./Montserrat/static/Montserrat-Thin.ttf) format("truetype");
  font-family: 'Montserrat';
  font-weight: 100;
}

@font-face {
  src: url(./Montserrat/static/Montserrat-ThinItalic.ttf) format("truetype");
  font-family: 'Montserrat';
  font-weight: 100;
  font-style: italic;
}

@font-face {
  src: url(./Montserrat/static/Montserrat-ExtraLight.ttf) format("truetype");
  font-family: 'Montserrat';
  font-weight: 200;
}

@font-face {
  src: url(./Montserrat/static/Montserrat-ExtraLightItalic.ttf) format("truetype");
  font-family: 'Montserrat';
  font-weight: 200;
  font-style: italic;
}

@font-face {
  src: url(./Montserrat/static/Montserrat-Light.ttf) format("truetype");
  font-family: 'Montserrat';
  font-weight: 300;
}

@font-face {
  src: url(./Montserrat/static/Montserrat-LightItalic.ttf) format("truetype");
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: italic;
}

@font-face {
  src: url(./Montserrat/static/Montserrat-Regular.ttf) format("truetype");
  font-family: 'Montserrat';
  font-weight: 400;
}

@font-face {
  src: url(./Montserrat/static/Montserrat-Italic.ttf) format("truetype");
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: italic;
}

@font-face {
  src: url(./Montserrat/static/Montserrat-Medium.ttf) format("truetype");
  font-family: 'Montserrat';
  font-weight: 500;
}

@font-face {
  src: url(./Montserrat/static/Montserrat-MediumItalic.ttf) format("truetype");
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: italic;
}

@font-face {
  src: url(./Montserrat/static/Montserrat-SemiBold.ttf) format("truetype");
  font-family: 'Montserrat';
  font-weight: 600;
}

@font-face {
  src: url(./Montserrat/static/Montserrat-SemiBoldItalic.ttf) format("truetype");
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: italic;
}

@font-face {
  src: url(./Montserrat/static/Montserrat-Bold.ttf) format("truetype");
  font-family: 'Montserrat';
  font-weight: 700;
}

@font-face {
  src: url(./Montserrat/static/Montserrat-BoldItalic.ttf) format("truetype");
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: italic;
}

@font-face {
  src: url(./Montserrat/static/Montserrat-ExtraBold.ttf) format("truetype");
  font-family: 'Montserrat';
  font-weight: 800;
}

@font-face {
  src: url(./Montserrat/static/Montserrat-ExtraBoldItalic.ttf) format("truetype");
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: italic;
}

@font-face {
  src: url(./Montserrat/static/Montserrat-Black.ttf) format("truetype");
  font-family: 'Montserrat';
  font-weight: 900;
}

@font-face {
  src: url(./Montserrat/static/Montserrat-BlackItalic.ttf) format("truetype");
  font-family: 'Montserrat';
  font-weight: 900;
  font-style: italic;
}
