<div class='about'>
  <app-primary-block>
    <div class='about__title-keeper container'>
      <h1 class='about__title'>
        {{'about.title' | translate}}
      </h1>
      <h5 class='about__subtitle'>
        {{'about.subtitle' | translate}}
      </h5>
    </div>
  </app-primary-block>
  <div class='about__content container'>
    <p class='about__paragraph'>
      {{'about.content.paragraph-1' | translate}}
    </p>

    <p class='about__paragraph'>
      {{'about.content.paragraph-2' | translate}}
    </p>

    <p class='about__paragraph'>
      {{'about.content.paragraph-3' | translate}}
    </p>

    <p class='about__paragraph'>
      {{'about.content.paragraph-4' | translate}}
    </p>

    <p class='about__paragraph'>
      {{'about.content.paragraph-5' | translate}}
    </p>

    <p class='about__paragraph'>
      {{'about.content.paragraph-6' | translate}}
    </p>

    <p class='about__paragraph'>
      {{'about.content.paragraph-7' | translate}}
    </p>

    <p class='about__paragraph'>
      {{'about.content.paragraph-8' | translate}}
    </p>

    <p class='about__paragraph'>
      {{'about.content.paragraph-9' | translate}}
    </p>

    <img class='about__dots' src='./assets/images/background-elements/dots.svg' alt='Dots'>
    <img class='about__dots about__dots_left' src='./assets/images/background-elements/dots.svg' alt='Dots'>
  </div>
</div>
