@import './src/assets/styles/variables/colors';

.news {
  &__primary {
    display: block;
    margin-bottom: 34px;

    &-container {
      padding-top: 95px;
      padding-bottom: 134px;
      max-width: 91%;
    }
  }

  &__title {
    font-size: 42px;
    line-height: 65px;
    color: $white;
    margin-bottom: 0;
    text-transform: uppercase;
    @media screen and (max-width: $md-tablet) {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 15px;
    }
  }

  &__subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: $white;
    margin-bottom: 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 20px;
    row-gap: 35px;
    margin-bottom: 72px;
    position: relative;

    @media screen and (max-width: $lg-tablet-max-width) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media screen and (max-width: $lg-mobile) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  &__item {
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 51, 0.08);
    background: $white;
    position: relative;

    &:hover {
      .news__read-more {
        &-text {
          font-weight: 600;
          color: $primary;
        }

        &-line {
          width: 8.7%;
        }
      }

      .news__image {
        transform: scale(1.2);
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform .15s ease-in-out;

    &-keeper {
      height: 258px;
      position: relative;
      overflow: hidden;
    }
  }

  &__year {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 14px 24px 16px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 12%, #3E3E3E 100%);
    color: $white;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
  }

  &__content {
    padding: 19px 16px 31px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 258px);
  }

  &__name {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 28px;
    flex-grow: 1;
    max-height: 60px;
    overflow: hidden;

    & > ::ng-deep p {
      display: inline;
    }
  }

  &__read-more {
    text-align: left;
    display: flex;
    align-items: center;
    gap: 8px;

    &-text {
      white-space: nowrap;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: $primary-dark;
      transition: color .15s ease-in-out, font-weight .15s ease-in-out;
    }

    &-line {
      min-height: 1px;
      width: 72%;
      background: $primary;
      transition: width .15s ease-in-out;
    }
  }

  &__dots {
    position: absolute;

    &_right {
      top: 1081px;
      right: 0;
      object-position: 104.36px 0;
    }

    &_left {
      top: -47px;
      object-position: -106px 0;
    }
  }
}
