<div class="home">
  <app-home-primary-slider></app-home-primary-slider>

  <div class="home__main-citation container">
    <img class="home__main-picture" src="./assets/images/prime-minister.jpg" alt="Premiere Minister of Armenia">
    <div class="home__main-content">
      <h6 class="home__main-name">{{'home.minister-name' | translate}}</h6>
      <h4 class="home__main-title">{{'home.minister-title' | translate}}</h4>
      <article class="home__main-text">
        {{'home.minister-text' | translate}}
      </article>
    </div>
    <img class="home__main-citation-dots" src="./assets/images/background-elements/dots.svg" alt="Dots">
  </div>

  <app-laureate-slider></app-laureate-slider>

  <app-home-testemonials></app-home-testemonials>

  <app-home-news></app-home-news>
</div>
