<div class='selection-and-awarding'>
  <app-primary-block>
    <div class='selection-and-awarding__title-keeper container'>
      <h1 class='selection-and-awarding__title'>
        {{'selection-and-awarding.title' | translate}}
      </h1>
      <h5 class='selection-and-awarding__subtitle'>
        {{'selection-and-awarding.subtitle' | translate}}
      </h5>
    </div>
  </app-primary-block>
  <div class='selection-and-awarding__content container'>
    <div class='selection-and-awarding__article'>
      <h4 class='selection-and-awarding__article-title'>
        <h4 class='selection-and-awarding__article-title'>
          {{'selection-and-awarding.content.article-1.title' | translate}}
        </h4>
      </h4>

      <p class='selection-and-awarding__paragraph'>
        {{'selection-and-awarding.content.article-1.paragraph-1' | translate}}
      </p>

      <p class='selection-and-awarding__paragraph'>
        {{'selection-and-awarding.content.article-1.paragraph-2' | translate}}
      </p>

      <p class='selection-and-awarding__paragraph'>
        {{'selection-and-awarding.content.article-1.paragraph-3' | translate}}
      </p>
    </div>

    <div class='selection-and-awarding__article'>
      <h4 class='selection-and-awarding__article-title'>
        {{'selection-and-awarding.content.article-2.title' | translate}}
      </h4>

      <p class='selection-and-awarding__paragraph'>
        {{'selection-and-awarding.content.article-2.paragraph-1' | translate}}
      </p>
    </div>
    <div class='selection-and-awarding__article'>
      <h4 class='selection-and-awarding__article-title'>
        {{'selection-and-awarding.content.article-3.title' | translate}}
      </h4>

      <p class='selection-and-awarding__paragraph'>
        {{'selection-and-awarding.content.article-3.paragraph-1' | translate}}
      </p>
    </div>

    <img class='selection-and-awarding__dots' src='./assets/images/background-elements/dots.svg' alt='Dots'>
    <img class='selection-and-awarding__dots selection-and-awarding__dots_left' src='./assets/images/background-elements/dots.svg' alt='Dots'>
  </div>
</div>
