<footer class='footer container'>
  <div class='footer__content'>
    <div class='footer__contact'>
      <span class='footer__contact-title'>
        {{'footer.contacts.lusine-tangyan.name' | translate}}
      </span>
      <span class='footer__contact-position'>
        {{'footer.contacts.lusine-tangyan.position' | translate}}
      </span>
      <a class='footer__contact-info' href='mailto:lusinet@globalitaward.am' target='_blank'>
        <img src='./assets/images/icons/email-white.svg' [alt]='"footer.email" | translate'>
        <span>{{'footer.email' | translate}}: lusinet@globalitaward.am</span>
      </a>
      <a class='footer__contact-info' href='tel:+37491320190' target='_blank'>
        <img src='./assets/images/icons/phone-white.svg' [alt]='"footer.phone" | translate'>
        <span>{{'footer.phone' | translate}}: +374 91 32 01 90</span>
      </a>
    </div>

    <div class='footer__contact'>
      <span class='footer__contact-title'>
        {{'footer.contacts.hovik-musayelyan.name' | translate}}
      </span>
      <span class='footer__contact-position'>
        {{'footer.contacts.hovik-musayelyan.position' | translate}}
      </span>
      <a class='footer__contact-info' href='mailto:hovikm@synopsys.com' target='_blank'>
        <img src='./assets/images/icons/email-white.svg' [alt]='"footer.email" | translate'>
        <span>{{'footer.email' | translate}}: hovikm@synopsys.com</span>
      </a>
    </div>

    <div class='footer__logo-keeper'>
      <a class='footer__logo' href='https://www.brainfors.com' target='_blank'>
        <img src='./assets/images/brainfors-logo.svg' alt='BrainFors'>
      </a>
      <span class='footer__developed'>
        Designed and developed by BrainFors
      </span>
    </div>
  </div>
  <div class='footer__subfooter container'>
    <span class='footer__copyright'>
      © 2022 Global IT Award
    </span>
  </div>
</footer>
